@import 'variables';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
// === PARTIALS ===

// === PAGE === //
.page {
  position: relative;
  width: 100%;
  height: 100vh;

  background: $black url('../images/bg.jpg') center no-repeat;
  background-size: cover;
}
// === / PAGE === //

// === HEADER === //
.header {
  margin-bottom: 110px;
  padding: 1rem 0;
  background-color: $accent;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: $white;
  }

  &__menu {
    display: flex;
  }

  &__menu-link {
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
    transition: $transition-fast;

    &:hover {
      color: lighten($accent, 30%);
    }
  }

  &__menu-link.active {
    position: relative;
    pointer-events: none;
  }
  &__menu-link.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $white;
  }
}
// === / HEADER === //

// === CONTENT === //
.content {
  width: 626px;
  color: $white;
  // .content__header
  &__header {
    margin-bottom: 35px;
  }
  // .content__suptitle
  &__suptitle {
    font-weight: 300;
    font-size: 1.4rem;
    color: rgba($white, 0.7);
  }
  // .content__title
  &__title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
  }
  // .content__text
  &__text {
    margin-bottom: 50px;
    font-size: 1rem;
  }
}
// === / CONTENT === //

// === AUTHOR ===
.author {
  position: absolute;
  right: 20px;
  bottom: 0;
}
// === / AUTHOR ===

// === FORM ===
.form {
  width: 100%;
  max-width: 280px;
  // .form__item
  &__item {
    margin-bottom: 20px;
  }
}

.input,
.textarea {
  display: block;
  border-radius: 5px;
  padding: 12px 18px;
  width: 100%;
  font-size: 1rem;
  background-color: rgba($white, 0.1);
}
.input::placeholder,
.textarea::placeholder {
  color: rgba($white, 0.7);
}
.textarea {
  height: 100px;
  resize: none;
}
// === / FORM ===

// === FOOTER ===
.footer {
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 100%;
  // .footer__contacts-box
  &__contacts-box {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
  }
  // .footer__email, .footer__phone
  &__email,
  &__phone {
    position: relative;
  }
  &__email::before,
  &__phone::before {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 0;
  }
  &__email::after,
  &__phone::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $white;
    transition: $transition-fast;
  }
  // .footer__email
  &__email {
    margin-right: 2rem;
    padding-left: 24px;

    &:hover.footer__email::after {
      width: 100%;
    }

    &::before {
      background-image: url('../images/icons/mail.svg');
      width: 17px;
      height: 14px;
    }
  }
  // .footer__phone
  &__phone {
    padding-left: 19px;

    &:hover.footer__phone::after {
      width: 100%;
    }

    &::before {
      background-image: url('../images/icons/tel.svg');
      width: 14px;
      height: 14px;
    }
  }
}
// === / FOOTER ===

// === ADAPTIVE ===
@import 'media';
