@import 'variables';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
// === PARTIALS ===

// === PAGE === //
.page {
  position: relative;
  width: 100%;
  height: 100vh;

  background: $black url('../images/bg.jpg') center no-repeat;
  background-size: cover;
}
// === / PAGE === //

// === HEADER === //
.header {
  margin-bottom: 110px;
  padding: 1rem 0;
  background-color: $accent;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: $white;
  }

  &__menu {
    display: flex;
  }

  &__menu-link {
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
    transition: $transition-fast;
  }
  &__menu-link:hover {
    color: lighten($accent, 30%);
  }

  &__menu-link.active {
    position: relative;
  }
  &__menu-link.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $white;
  }
}
// === / HEADER === //

// === CONTENT === //
.content {
  width: 610px;
  color: $white;
  // .content__suptitle
  &__suptitle {
    font-weight: 300;
    font-size: 1.4rem;
    color: rgba($white, 0.7);
  }
  // .content__title
  &__title {
    margin-bottom: 35px;
    font-weight: 300;
  }
  &__title span {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
  }
  &__title span + span {
    color: $accent;
    font-weight: 500;
  }
  // .content__text
  &__text {
    margin-bottom: 50px;
    font-size: 1rem;
  }
}
// === / CONTENT === //

// === AUTHOR ===
.author {
  position: absolute;
  right: 20px;
  bottom: 0;
}
// === / AUTHOR ===

// === ADAPTIVE ===
@import 'media';
